th {
    width: 293px;
}
#leaderboard {
  width: 50%;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  text-align: center;
}

thead {
  font-size: 1.2rem;
  background-color: #eee;
}

tbody tr:nth-child(odd) {
  background-color: #f8f8f8;
}

td, th {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

th {
  font-weight: bold;
  text-align: left;
}